faq Component

<div >
<table class="table table-bordered" data-sly-use.listUse="org.myorg.tasks.core.models.MultiFieldUse">
      <tr>

        <td>First Name</td>
        <td>Last Name</td>
        <td>D.O.B</td>
        <td>email</td>
      </tr>
      <sly data-sly-list.items="${listUse.multiFieldItems}">
        <tr >

          <td>${items.firstname}</td>
          <td>${items.lastname}</td>
          <td>${items.dob}</td>
          <td>${items.email}</td>
        </tr>
      </sly>
    </table>
</div>






